*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(32, 31, 31);
}
.container{
    width: 1500px;
    height: 800px;
    display: flex;
}
.box1{
    width: 120px;
    height: 100vh;
    background-color: rgb(62, 62, 62);
}
.box{
    width: 1499px;
    height: 100vh;
    background-color: rgb(32, 31, 31);
}
.boxic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 300px;
    left: 20px;
}
.boxic>h4{
    color: #fff;
}
.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 650px;
    left: 20px;
}
.box11{
    position: absolute;
    left: 160px;
    bottom: 660px;
}
.box11>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    left: 70px;
    color: #fff;
    bottom: 7px;
}
.navbar{
   width: 850px;
   height: 65px;
   background-color: rgb(60, 58, 58);
   display: flex;
   align-items: center;
   position: absolute;
   gap: 10px;
   left: 500px;
   top: 28px;
   border-radius: 50px;
}
.navbar>hr{
    height: 55px;
}
.navbar>h1{
    color: #fff;
    font-size: 15px;
}
.navbar>h1>p{
    color: #fff;
    font-size: 10px;
}
.box44{
    position: absolute;
    left: 900px;
    bottom: 12px;
}
.box77{
    width: 120px;
    height: 46px;
    background: none;
    border: 1px solid rgb(0, 149, 255);
    position: absolute;
    left: 170px;
    top: 120px;
    border-radius: 50px;
}
.box77>img{
    position: absolute;
    left: 10px;
    top: 13px;
}
.box77>p{
    color: rgb(0, 149, 255);
    position: absolute;
    left: 55px;
    top: 14px;
}
.box111>.hr4{
    width: 1130px;
    position: absolute;
    left: 250px;
    top: 720px;
}
.box111>.hr1{
    width: 1130px;
    position: absolute;
    left: 250px;
    top: 200px;
}
.box111>.hr2{
    width: 1130px;
    position: absolute;
    left: 250px;
    top: 370px;
}
.box111>.hr3{
    width: 1130px;
    position: absolute;
    left: 250px;
    top: 570px;
}
.box111>p{
     color: #fff;
     position: absolute;
     left: 250px;
     top: 220px;
}
.box111>.p1{
    color: gray;
    position: absolute;
    left: 380px;
    top: 222px;
    font-size: 13px;
}
.box111>.p3{
    color: #fff;
    position: absolute;
    left: 250px;
    top: 390px;
}
.box111>.p2{
   color: gray;
   position: absolute;
   left: 350px;
   top: 390px;
   font-size: 13px;
}
.box111>.p4{
    color: #fff;
    position: absolute;
    left: 250px;
    top: 590px;
}
.box111>.p5{
   color: gray;
   position: absolute;
   left: 350px;
   top: 590px;
   font-size: 13px;
}
.box444{
    font-family: "Baskervville SC", serif;
    color: #fff;
    position: absolute;
    left: 300px;
    top: 254px;
    font-size: 80px;
}
.box555{
    font-family: "Wittgenstein", serif;
    color: #fff;
    position: absolute;
    left: 300px;
    top: 454px;
    font-size: 80px;
}
.box777{
    font-family: "Ga Maamli", sans-serif;
    color: #fff;
    position: absolute;
    left: 300px;
    top: 624px;
    font-size: 80px;
}